---
const { title, time, location, image } = Astro.props;
import "../css/base.css";
import Cta1 from "../components/Cta1.astro";
import Strokeheart from "../components/Strokeheart.astro";
---

<div class="event_card">
  <div class="img_div"><img src={image} alt={title} /></div>
  <div class="text_div">
    <div class="text-div_title">
      <h3>{title}</h3>
      <p class="time">{time}</p>
    </div>
    <div class="text-div_text">
      <h4 class="text">Lorem ipsum dolor sit amet.</h4>
      <h4 class="location">{location}</h4>
    </div>
    <div class="CTA_div">
      <div class="button"><Cta1 text="Læs mere" /></div>
      <div class="heart"><Strokeheart /></div>
    </div>
  </div>

  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    .event_card {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      background: #1b1e26;
      border-radius: 8px;
      text-align: start;
      column-gap: 40px;
      padding-top: 20px;
      padding-bottom: 20px;
    }

    .event_card .text_div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    img {
      border-top-right-radius: 400px;
      width: 20vw;
      height: 100%;
    }

    .event_card .img_div {
      grid-column: 1;
      grid-row: 1;
      width: 100%;
      height: 100%;
    }

    .event_card .text-div_title {
      grid-column: 2;
      grid-row: 1;
      display: grid;
      grid-template-rows: 1fr 1fr;
      place-self: start;
    }

    .event_card .text-div_text {
      grid-column: 2;
      grid-row: 2;
      display: grid;
      grid-template-rows: 1fr 1fr;
      place-self:;
    }

    .event_card .text_div .CTA_div {
      grid-column: 2;
      display: flex;
      grid-row: 1;
      justify-content: space-between;
    }

    .heart {
      padding-right: 20px;
    }
  </style>
</div>
