---
const { title, time, location, image } = Astro.props;
import "../css/base.css";
import Cta1 from "../components/Cta1.astro";
import Strokeheart from "../components/Strokeheart.astro";
---

<div class="event_card">
  <div class="img_div"><img src={image} alt={title} /></div>
  <div class="text_div">
    <h3>{title}</h3>
    <p class="time">{time}</p><span></span>
    <p class="text">Lorem ipsum dolor sit amet.</p>
    <p class="location">{location}</p>
    <div class="CTA_div">
      <div class="button"><Cta1 text="Læs mere" /></div>
      <div class="heart"><Strokeheart /></div>
    </div>
  </div>

  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    .event_card {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      background: #1b1e26;
      border-radius: 8px;
      text-align: start;
      column-gap: 40px;
    }

    .event_card .img_div {
      grid-column: 1;
      width: 100%;
      height: 100%;
    }

    .event_card .text_div {
      grid-column: 2;
      display: grid;
      grid-template-rows: repeat(4, 1fr);
    }

    .text_div h3 {
      grid-row: 1;
      margin: 0;
    }

    .text_div .time {
      grid-row: 2;
      margin-top: -2vw;
      margin-bottom: 5vw;
    }
    .text_div .text {
      grid-row: 3;
      margin-top: -2vw;
      margin-bottom: 5vw;
    }

    .text_div .location {
      grid-row: 4;
      margin-top: -4vw;
      margin-bottom: 5vw;
    }

    .text_div .CTA_div {
      display: flex;
      grid-row: 5;
      margin-left: -75px;
      padding-bottom: 20px;
      justify-content: space-between;
    }

    .heart {
      position: relative;
      padding-right: 20px;
    }
  </style>
</div>
